  body {
background-color:#4c0000;
bckground-image:url("/storage/sdcard0/my code/image/BeautyPlus.jpg");
//width:50%;
//height:100%  
cursor:pointer;
text-decoration:none;
display:inline-block;
}
.navigation-bar {
display:block;
background-color:#A01B1F;
text-decoration:none;
//width:100%;
//height:3%;  
margin:0%; 
padding:2%;
border:9%;
text-transform:uppercase;
  align-content: center;
  text-align: center; 
}
.table {
  display: block;
  float:center;
  align-content: center;
  text-align: center;
   font-size: 190%;
    style:normal;
  font-weight:bold;
  strectch:extended;
  word-spacing: 30%;
}
p {
font-size:large:
font-weight:bolder;
font-style:oblique;
font-family:emoji sarif sans-sarif;
text-align:left;
text-decoration:#5F0002;
text-spacing:normal;
color:#FFB6B3;
}
h4 {
color:red;
text-transform:capitalize;
}
.container {
display:block;
width:40%;
height:13%;  
padding:5%;
margin:0%;
border:5%
color:#FFB6B3;
background-color:#630300;
  border-width:thick;
  border-style: groove;
  border-color:#FFB6B3;
}

a {
color:gray;
font:family;
text-decoration:none;
}
.note {
text-align:center;
}
foot {
background-color:#580A0C;
color:gray;
text-decoration:none;
width:345px;
word-break:loose;
white-space:normal;
text-transform:capitalize;
align-content:center;
}
li {
list-style-type:none;
margin:5px;
text-align:center;
background-color:uchsia;
color:white;
position:fixed
overflow:auto;
}
mysearch{
  background-color: greenyellow;
  
}

.icons{
  display:block;
  align-content: center;
  text-align: center;
  width:20ppx;
}  
